* {
    font-family: 'Futura';
}

body {
    margin: 0 !important;
}

.boardPage {
    margin: 0;
}

.boardWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.boardContainer {
    border: 10px solid darkgray;
    border-radius: 10px;
    background-color: darkgrey;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .boardRow { display: flex; }
    // Animation below
    opacity: 1;
    transition: transform .3s ease-in-out, top .3s ease-in-out, opacity .2s ease-in-out .1s;
    &.hidden {
        top: 100%;
        opacity: 0;
        transform: translate(-50%, 0%);
        transition: transform .3s ease-in-out .1s, top .3s ease-in-out .1s, opacity .2s ease-in-out;
    }
}