* {
  font-family: 'Futura';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 20px;
}

.HomeWrapper {
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity .1s ease-in-out .05s;
  transition: opacity .1s ease-in-out .05s;
}

.HomeWrapper.hidden {
  opacity: 0;
}

.title {
  font-size: 75px;
  font-family: 'Futura';
  font-weight: 900;
  padding-top: calc( 50px + 1em);
  padding-bottom: 1em;
  margin: 0;
  color: #0f0f4b;
}

@media screen and (max-width: 630px) {
  .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 40px;
  }
}

.btn {
  font-size: 30px;
  padding: 10px 30px;
  border: transparent;
  border-radius: 25px;
  margin: 20px auto;
  color: #0f0f4b;
  background-color: lightblue;
  border: 3px solid #0f0f4b;
}

.btn:hover {
  cursor: pointer;
  background-color: #0f0f4b;
  color: lightblue;
  border: 3px solid transparent;
}

.btn:disabled {
  opacity: .5;
  cursor: not-allowed;
}

@media screen and (max-width: 400px) {
  .btn {
    font-size: 25px;
    border-radius: 20px;
    padding: 8px 24px;
    margin: 18px auto;
  }
}

.controlContainer .controlWrapper {
  background-color: lightblue;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-in-out;
  transition: max-height .2s ease-in-out;
  max-height: 500px;
  max-width: 90%;
  margin: 0 auto 16px auto;
}

.controlContainer .controlWrapper > * {
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out .05s;
  transition: opacity .2s ease-in-out .05s;
}

.controlContainer .controlWrapper.hidden {
  max-height: 0;
  -webkit-transition: max-height .2s ease-in-out .05s;
  transition: max-height .2s ease-in-out .05s;
}

.controlContainer .controlWrapper.hidden > * {
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.controlContainer .controlWrapper .error {
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 20px 0 20px;
  max-height: 0px;
  overflow: hidden;
  color: #880000;
  opacity: 0;
  -webkit-transition: max-height .2s ease-in-out .2s, opacity .2s ease-in-out;
  transition: max-height .2s ease-in-out .2s, opacity .2s ease-in-out;
}

.controlContainer .controlWrapper .error.has-error {
  max-height: 100px;
  opacity: 1;
  -webkit-transition: max-height .2s ease-in-out, opacity .2s ease-in-out .2s;
  transition: max-height .2s ease-in-out, opacity .2s ease-in-out .2s;
}

.controlContainer .controlWrapper .controlPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px 20px 20px;
}

.controlContainer .controlWrapper .controlPanel .controlCol {
  display: inline-block;
  width: 40%;
}

.controlContainer .controlWrapper .controlPanel .controlCol .controlTitle {
  font-size: 25px;
  color: #0f0f4b;
}

.controlContainer .controlWrapper .controlPanel .controlCol .inputSlider {
  outline: 0;
  border: 0;
  border-radius: 500px;
}

.controlContainer .controlWrapper .controlPanel .controlCol .controlNum {
  font-size: 20px;
  color: #0f0f4b;
}

.controlContainer .controlWrapper .controlPanel .controlCol .controlNum.has-error {
  color: #880000;
}

@media screen and (max-width: 800px) {
  .controlContainer .controlWrapper .controlPanel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .controlContainer .controlWrapper .controlPanel .controlCol {
    width: 100%;
  }
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    -webkit-appearance: none !important;
    width: 400px;
    max-width: 100%;
    height: 5px;
    background-color: #0f0f4b;
    border: none;
    outline: none;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 20px;
    width: 20px;
    background: white;
    border: 2px solid #0f0f4b;
    border-radius: 50%;
    cursor: ew-resize;
  }
  input[type='range']::-webkit-slider-thumb:hover {
    background: #0f0f4b;
  }
}
/*# sourceMappingURL=HomePage.css.map */